* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
body {
  color: #000000;
  background: url(./../img/background_el.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 25%;
  width: 50vw;
  height: 15vh;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 21px 21px;
  background: #FFF;
}

nav a {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  gap: 50px;
  font-size: 2rem;
}

nav img{
  width: 6.25vw;
  height: 12.5vh;
  flex-shrink: 0;
}

nav button {
  text-decoration: none;
}
li {
  list-style: none;
  color: black;
}
li i {
  color: black;
}

.plats button {
  background-color: #4caf50;
  color: white;
  padding: 7px 10px;
  margin: 2px;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.plats {
  background-color: white;
  border-radius: 20px;
  width: 65vw;
  height: 70vh;
  margin-top: 25vh;
  margin-left: 3.5vw;
  padding: 20px;
  overflow-y: scroll;
}

.plats_title {
  display: flex;
  flex-direction: column;
}

.plats_titles {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}

.plats_titles h1{
  font-size: 2rem;
  margin-left: 0.3rem;
}

.plats_titles i{
  font-size: 0.750rem;
}
.plats_title_salées{
  display: flex;
  align-items: center;
}

.plats_title_sucrées{
  display: flex;
  align-items: center;
}

.line{
  width: auto;
  height: 0.15rem;
  background-color: #000000;
  border-radius: 20px;
}
.card {
  background-color: #b3b3b3;
  height: auto;
  width: 15vw;
  box-shadow: 5px 5px 0px #ff5c28;
}


.plats_sale {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.plats_sucre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.plats_card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
  margin: 1rem;
  background-color: white;
  width: 100%;
  max-width: 1200px;
}

.card-footer-plats {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin-top: 10%;
}

.supplements {
  position: fixed;
  /* display: flex;
    flex-direction: row;
    align-items: center; */
  top: 50%;
  left: 50%;
  z-index: 100;
  padding: 1rem;
  background-color: aqua;
  width: 90vw;
  height: 90vh;
  margin-top: -45vh;
  margin-left: -45vw;
  border-radius: 15px;
}
.cross_close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.commande {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #4caf50;
  margin: 2rem;
  padding: 1rem;
  border-radius: 15px;
}

main {
  position: relative;
}
