* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
body {
  color: #28272b;
  /* background: url(./../img/background_el.webp); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Montserrat;
  background-color: #f5f5f5;
}
html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  justify-content: space-between; /* Use space-between to separate items at both ends */
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 6;
}

nav > ul {
  display: flex;
  justify-content: flex-start; /* Align items to the start (left) */
  align-items: center;
  list-style: none;
  width: 100%;
  margin-top: 1rem;
}

nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button_nav {
  font-size: 1em;
  padding: 0.4rem;
  color: #28272b;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  width: 12rem;
  transition: background 0.3s;
  background-color: #f5f5f5;
}
.panierBlock {
  max-height: 70vh;
}
.listCommandPanier {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 62.5vh;
}
.button_nav:hover {
  background: #e56d00;
  color: #fff;
}

.connect {
  border: solid 0.2px #e56d00;
  float: right;
}
.nav_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 2rem;
}
.nav_title > p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #e56d00;
  margin-top: auto;
  margin-bottom: auto;
  width: 9vw;
}
.nav_left {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-left: 1rem;
}

.nav_right {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-right: 1rem;
}
.nav_right img {
  width: 3rem;
  border-radius: 50%;
  height: 3rem;
  object-fit: cover;
}
.menu-container {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.bar {
  border-radius: 10px;
}

.bar:nth-child(1) {
  width: 60%;
  height: 4px;
  background-color: black;
  transition: transform 0.3s ease-in-out;
}

.bar:nth-child(2) {
  width: 100%;
  height: 4px;
  background-color: black;
  transition: opacity 0.3s ease-in-out;
}

.bar:nth-child(3) {
  width: 75%;
  height: 4px;
  background-color: black;
  transition: transform 0.3s ease-in-out;
}

.menu-btn.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-2px, 9.5px);
  width: 100%;
}

.menu-btn.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-btn.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-2px, -9.5px);
  width: 100%;
}

.menu-btn.open + .nav_left {
  position: fixed;
}

.menu {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 5;
}
.menu-btn.open + .menu {
  display: block;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.menu li {
  text-align: center;
  margin-bottom: 5vh;
  border-bottom: 2px solid #e56d00;
}

.menu a {
  text-decoration: none;
  color: #000000;
  font-size: 2rem;
}
@media only screen and (max-width: 768px) {
  .menu-container {
    display: flex;
    padding: 0;
    position: relative;
    z-index: 10;
    gap: 3rem;
  }
  .nav_left {
    position: relative;
    padding-top: 0.5rem;
    z-index: 6;
  }
  .menu-btn {
    margin-right: 20px;
    position: relative;
    z-index: 10;
    transform: translateX(12vw);
  }

  header {
    background-color: white;
    border-radius: 0px 0px 26px 26px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
@media screen and (max-width: 425px) {
  .menu-btn {
    transform: translateX(0px);
  }
}

.menu-container img {
  width: 6vw;
}
.menu-container .nav_title p {
  width: 40vw;
  font-size: 1.1rem;
  text-align: center;
}
.menu-container .nav_title {
  justify-content: space-around;
}

.image {
  border: 0;
  background-color: white;
}

.title_infos {
  margin-bottom: -5vh;
  margin-left: 1vw;
}
.title_infos > h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #28272b;
}
.title_infos > h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #28272b;
}
.title_infos > h3 {
  font-size: 0.9rem;
  font-weight: 500;
  color: #28272b;
}
nav > ul > li > img {
  width: 3.5rem;
  height: 4rem;
  margin-right: 1rem;
}

.plats {
  background-color: white;
  border-radius: 10px;
  width: 67vw;
  height: 70vh;
  margin-top: 14vh;
  margin-left: 1vw;
  padding: 20px;
  overflow-y: scroll;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.platsBO {
  background-color: white;
  border-radius: 20px;
  width: 67vw;
  height: 70vh;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  overflow-y: scroll;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.plats::-webkit-scrollbar,
.platsBO::-webkit-scrollbar,
.listCommandPanier::-webkit-scrollbar {
  width: 0.5rem;
  scrollbar-face-color: #f5f5f5;
  scrollbar-arrow-color: #fff;
  scrollbar-shadow-color: #f1f1f1;
  scrollbar-highlight-color: #f1f1f1;
  scrollbar-3dlight-color: #f1f1f1;
  scrollbar-darkshadow-color: #f1f1f1;
}

.plats::-webkit-scrollbar-thumb,
.platsBO::-webkit-scrollbar-thumb,
.listCommandPanier::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #f0f0f0;
}
.plats::-webkit-scrollbar-track,
.platsBO::-webkit-scrollbar-track,
.listCommandPanier::-webkit-scrollbar-track {
  scrollbar-track-color: #191a20;
}
/*animation*/

.fa-circle-dot {
  transition: all 0.3s;
}
.plats_sucre,
.plats_sale,
.plats_suppl {
  display: block;
  transition: all 1s;
  text-align: center;
}
.hidden {
  display: none;
}

.plats_title {
  display: flex;
  flex-direction: column;
}
.panier span {
  font-weight: bold;
}

.plats_titles {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 1.5rem; /* Adjusted gap for better spacing */
  cursor: pointer;
}
.btn_commander {
  background: #e56d00;
  color: #fff;
}
.btn_commander:hover {
  background: #fff;
  color: #e56d00;
  border: 1px solid #e56d00;
}
.btn_continuer {
  background: #fff;
  color: #e56d00;
  border: 1px solid #e56d00;
}
.btn_continuer:hover {
  background: #f5f5f5;
  color: #e56d00;
  border: 1px solid #e56d00;
}

.line {
  width: auto;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.plats_card .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  /* padding: 10px; */
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
  height: 20rem;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  text-align: center;
  height: 20rem;
}
.plats_card .card .card-title {
  font-size: 1.2rem;
  color: #28272b;
  margin-bottom: 7px;
}

.plats_card .card .card-price {
  font-size: 18px;
  color: #e56d00;
  margin-top: auto;
  position: absolute;
  bottom: 3.1rem;
  left: 50%;
  transform: translateX(-50%);
}
.plats_card .card .card_img {
  height: 45%;
  object-fit: cover;
  border-radius: 10px;

  margin-bottom: 1rem;
}
.plats_card .card .card-text {
  font-size: 14px;
  color: #777;
}
.noThanks,
.addSupplYes {
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.button_add {
  font-size: 1em;
  padding: 0.4rem;
  color: #28272b;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  width: 12rem;
  transition: background 0.3s;
  margin-top: auto;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.button_add:hover {
  background: #e56d00;
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
  position: absolute;
  width: 85%;
  bottom: 10px;
  gap: 0.2rem;
}

.actions {
  font-size: 1em;
  padding: 0.4rem;
  color: #28272b;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;

  transition: background 0.3s;
  margin-top: auto;
}

.actions:hover {
  background: #e56d00;
  color: #fff;
}
.actions a {
  text-decoration: none;
  color: #28272b;
}

.actions i {
  margin-left: 1rem;
}
.actionsSup {
  font-size: 1em;
  padding: 0.4rem;
  color: red;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}
.actionsSup:hover {
  background: red;
  color: #fff;
}

.fa-plus {
  margin-right: 1rem;
}
.listRecapOrder {
  list-style: none;
}
.titlePlatsRecap {
  font-weight: bold;
}

.button_fouee {
  font-size: 1em;
  padding: 0.4rem;
  color: #28272b;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  width: 12rem;
  transition: background 0.3s;
}
.button_fouee:hover {
  background: #e56d00;
  color: #fff;
}
.sel {
  background: #e56d00;
  color: #fff;
}
.list_commande {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1rem -1rem;
  width: 100%;
  max-width: 1200px;
}

.name_plat_commande {
  flex: 1; /* Take equal space */
}

.div_img_commande {
  flex: 0 0 6rem; /* Fixed width for image */
}

.number_add {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 150px; /* Fixed width for the number_add section */
  justify-content: flex-end; /* Align to the right */
}

.sub,
.add,
.number_add > input,
.number_add > button {
  width: 100%; /* Make all elements the same width */
}

.name_plat_commande > p {
  margin: 0;
}

.img_commande {
  width: 100%; /* Make the image fill its container */
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.number_add > input {
  height: 2rem;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  color: #28272b;
  margin: -1rem;
  font-size: 1rem;
  font-weight: bold;
}

.number_add > button {
  height: 2rem;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  color: #28272b;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.plats_sale {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease;
}
.plats_sucre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease;
}
.plats_card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  background-color: white;
  width: 100%;
  max-width: 1200px;
}

.card-footer-plats {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin-top: 10%;
}

.cross_close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
.supplements ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.list_suppl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_suppl li {
  margin: 0;
}

.button_addsuppl {
  margin-left: auto;
}
.input[type="checkbox"] {
  display: none;
}

/* Style for the custom checkbox */
.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

/* Style for the custom checkmark */
.custom-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 2px;
  opacity: 0;
}

/* Show the checkmark when checkbox is checked */
.input[type="checkbox"]:checked + .custom-checkbox::after {
  opacity: 1;
}

.transition {
  transition: 300ms ease;
}
.main_commande {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 75vh;
}

.commande {
  width: 30vw;
  background-color: #ffffff;
  margin: 0 2rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.button_command {
  font-size: 1em;
  padding: 0.4rem;
  color: #28272b;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  width: 12rem;
  transition: background 0.3s;
}

.button_command:hover {
  background: #e56d00;
  color: #fff;
}
.bottom_panier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.bottom_panier p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #28272b;
  margin-top: auto;
  margin-bottom: auto;
}
main {
  position: relative;
}

.commandeTable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5vh;
}
.table > :not(caption) > * {
  padding: 5vw;
  border-radius: 20px !important;
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.action a {
  color: #28272b;
  border: 1px solid #28272b;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  transition: background 0.3s;
  margin-top: auto;
  padding: 0.5rem;
}

.action a:hover {
  background: #e56d00;
  color: #fff;
}

.recap {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
}

#BO {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  margin: 1rem;
}

.col-left {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  width: 20vw;
  right: 10vw;
  height: auto;
  margin-top: 5vh;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 20px;
  width: 50vw;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10vh;
  font-family: Montserrat;
  padding: 20px;
}

.form label {
  display: block;
  margin-bottom: 8px;
}

.form input {
  width: auto;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.infosEntr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin: 1rem;
  font-family: Montserrat;
}

.infosEntr img {
  width: 4rem;
  height: 4rem;
}

.btn {
  padding: 1rem;
  width: 100%;
}
.resultDiv {
  font-weight: bold;
}
.radio-inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 25vh;
  height: 400px;
  overflow-y: scroll;
}
.radio-inputs::-webkit-scrollbar,
.radio-inputs::-webkit-scrollbar {
  width: 0.5rem;
  scrollbar-face-color: #f5f5f5;
  scrollbar-arrow-color: #fff;
  scrollbar-shadow-color: #f1f1f1;
  scrollbar-highlight-color: #f1f1f1;
  scrollbar-3dlight-color: #f1f1f1;
  scrollbar-darkshadow-color: #f1f1f1;
}
.radio-inputs::-webkit-scrollbar-thumb,
.radio-inputs::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #f0f0f0;
}
.radio-inputs::-webkit-scrollbar-track,
.plradio-inputsatsBO::-webkit-scrollbar-track {
  scrollbar-track-color: #191a20;
}
.btnHeure {
  padding: 10px;
  margin: 5px;
  border: #e56d00 solid 1px;
  border-radius: 5px;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnHeure:hover {
  background-color: #eee;
}

.btnHeure.heureSelected {
  background-color: #e56d00;
  color: white;
  font-weight: 600;
}

p {
  margin-bottom: 0;
  cursor: pointer;
}
.recap {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 5rem;
  margin: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container {
  margin: 0 10px;
}
input[type="date"] {
  margin: 5px;
  width: 23.5vh;
  font-family: arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #e56d00;
  outline: none;
  border: 0;
  border-radius: 5px;
  color: white;
  box-sizing: border-box;
  padding: 10px;

  &::-webkit-datetime-edit-month-field {
    color: white;
  }
  &::-webkit-datetime-edit-day-field {
    color: white;
  }
  &::-webkit-datetime-edit-year-field {
    color: white;
  }

  &::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    right: 5px;
    margin-right: 4px;
  }
  &::-webkit-inner-spin-button {
    height: 30px;
  }
  &::-webkit-calendar-picker-indicator {
    font-size: 18px;

    :hover {
      background-color: #2f2f2f;
      color: #232323;
      cursor: pointer;
    }
    ::active {
      color: blue;
    }
  }
}

.btn-retour {
  position: absolute;
  top: -30px;
  left: 0;
  margin: 1rem;
  margin-left: 0;
}
.btn-retour i {
  font-size: 1.5rem;
}
.fa-solid > fa-xmark {
  cursor: pointer;
}
.icon-xmark {
  cursor: pointer;
  border: none;
  color: red;
  font-size: 1.5rem;
}
.commandeConfirm {
  display: none;
  text-align: center;
}
.text-input {
  display: none;
  width: 50vh;
}
.text {
  color: black;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}
.text:hover {
  background-color: #e2e2e2;
}
#commentaire {
  vertical-align: top;
  height: 100px;
  margin-bottom: 2vh;
  width: 100%;
  resize: none;
}
/* .commandeConfirm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  font-family: Montserrat;
} */
.commandeConfirm {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 5rem;
  margin: 2rem;
  gap: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-responsive h1 {
  margin-bottom: 2rem;
}
.table-responsive p {
  margin-bottom: 2rem;
}
.supprCommande {
  cursor: pointer;
}
.col-12 img {
  width: 10%;
  margin-bottom: 1rem;
}
.commandes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  font-family: Montserrat;
}
.utilisateurs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  font-family: Montserrat;
}

.site {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  font-family: Montserrat;
}
.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.col-12 h1 {
  margin-bottom: 3vh;
}
.table {
  margin-bottom: 3vh;
}
.totalRet {
  margin-top: 2vh;
}
.totalRet :first-child {
  margin-bottom: 2vh;
  font-size: 1.5rem;
}
.h2Pannier {
  display: none;
}
.infos_generale h1 {
  margin-top: 10px;
  text-align: center;
}
.infos_generale p {
  text-align: center;
}
.infos_generale p:first-child {
  padding-top: 10px;
}

@media only screen and (max-width: 768px) {
  .main_commande {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2vh;
    height: auto;
  }
  .infos_generale {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5vh;
  }
  .infos_generale h1 {
    margin-top: 0px;
  }
  .infos_generale p:first-child {
    padding-top: 0px;
  }

  .list_plat {
    width: 90vw;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .plats {
    width: 90vw;
    height: 70vh;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0vh;
  }

  .number_add {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .name_plat_commande > p {
    font-size: 0.8rem;
  }
  .sub,
  .add {
    width: 100%; /* Les boutons prennent 100% de la largeur en mode responsive */
    margin-bottom: 0px; /* Ajoutez une marge entre les boutons */
  }

  .rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    gap: 1rem;
    margin: 1rem;
    max-width: 100%; /* Réglez la largeur maximale à 100% pour les écrans plus petits */
  }
  .panier {
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    max-width: 100%; /* Réglez la largeur maximale à 100% pour les écrans plus petits */
    overflow-y: scroll;
  }
  nav {
    display: none;
  }
  .commande {
    width: 90vw;
    max-height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    max-width: 100%; /* Réglez la largeur maximale à 100% pour les écrans plus petits */
  }
  .number_add {
    flex-direction: column;
    align-items: center;
    flex: 0 0 40px; /* Fixed width for the number_add section */

    gap: 1.2rem;
    text-align: center;
  }

  .sub,
  .add {
    width: 100%; /* Les boutons prennent 100% de la largeur en mode responsive */
  }

  .h2Pannier {
    display: block;
    margin-top: 3vh;
  }
  .panierBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .bottom_panier {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  /* order responsive */
  .recap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    font-family: Montserrat;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .text {
    display: none;
  }
  .text-input {
    display: none;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .respContact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .form {
    width: 90vw;
  }

  .menu-container img {
    width: 8vw;
  }
  .nav_left {
    margin: 0;
    padding-left: 0;
  }
  .buttonSuppl button {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 425px) {
  .menu-container img {
    width: 8vw;
  }
}

@media only screen and (max-width: 1025px) {
  .action a {
    font-size: 0.8rem;
  }

  .col-left h1 {
    font-size: 2.5rem;
  }
}

.supplements .line {
  margin: 1rem 0;
}

.supplements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.suppl_sucre {
  margin-bottom: 2rem;
}

.buttonSuppl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#mentions {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  color: #28272b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#mentionsLegales {
  margin-top: 20px;
}
.retour a {
  text-decoration: none;
  color: #28272b;
}

.retour i {
  margin-right: 5px;
}

#mentionsLegales h1 {
  font-size: 28px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#mentionsLegales h3 {
  font-size: 20px;
  margin-top: 20px;
}

#mentionsLegales p {
  margin-bottom: 10px;
}

#mentionsLegales b {
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 20px;
}

footer a {
  text-decoration: none;
  color: #28272b;
}

footer a:hover {
  text-decoration: underline;
}

.mentionlg {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  gap: 1rem;
}
.mentionlg a {
  text-decoration: none;
  color: #28272b;
  cursor: pointer;
}
