* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

nav{
    background-color: #4CAF50;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;

}

button{
    background-color: #4CAF50;
    color: white;
    padding: 7px 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover{
    opacity: 0.8;
}

.plats_card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1rem;
    margin: 1rem;
}

.card-footer-plats{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10%;
}

.supplements{
    position: fixed;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    top: 50%;
    left: 50%;
    z-index: 100;
    padding: 1rem;
    background-color: aqua;
    width: 90vw;
    height: 90vh;
    margin-top: -45vh;
    margin-left: -45vw;
    border-radius: 15px;
}
.cross_close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.commande{
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #4CAF50;
    margin: 2rem;
    padding: 1rem;
    border-radius: 15px;
}

main{
    position: relative;
}
